﻿@model hm.Models.user

@{
    ViewBag.Title = "Log In";
   
}



<style>
    .container{
        margin-top:50px;
    }
    .categories{
        display:none;
    }

    .categories-trigger{
    	display: none;
    }
</style>

<div></div>

<div class="row">
	<div class="log-in-form" >

		<form class="" >
			<label for="email_input">E-mail</label> <br>
			<input type="email" id="email_input" class="input" >
			<br>
			<label for="email_input">Password</label> <br>
			<input type="email" id="email_input" class="input" >

			<input type="submit" class="sbmt-btn" value="Send">
		</form>
	</div>
</div>