﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="">

    
    <div class="col-sm-12 title-text" style="display:block;">Recommended For You </div>

    @for (int i = 0; i < 10; i++)
    {
        <div class="col-sm-5 col-md-3 white  top-sec margin-10">

            <img src="photos/camera1.jpg" />
            <div class="left-side">
                <div class="product-name">
                    <a href="#">Nikon D3300</a>
                </div>
                <div class="by">
                    <a href="#">By:Nikon</a>

                </div><br />
                <div class="price">
                    <span class="para">$</span><span class="price-tl">599.</span><span class="price-kr">99</span>
                </div>

                <div class="rate">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star-o" aria-hidden="true"></i></span>

                </div>
                <div class="rate-number">(2309)</div>
            </div>
        </div>
    }



</div>

<div class="row">
    <div class="col-sm-12 title-text white-color" style="display:block;">Browse History</div>


    @for (int i = 0; i < 10; i++)
    {
        <div class="col-sm-5 col-md-3 white  top-sec margin-10">

            <img src="photos/camera1.jpg" />
            <div class="left-side">
                <div class="product-name">
                    <a href="#">Nikon D3300</a>
                </div>
                <div class="by">
                    <a href="#">By:Nikon</a>

                </div><br />
                <div class="price">
                    <span class="para">$</span><span class="price-tl">599.</span><span class="price-kr">99</span>
                </div>

                <div class="rate">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star-o" aria-hidden="true"></i></span>

                </div>
                <div class="rate-number">(2309)</div>
            </div>
        </div>
    }

</div>


<div class="row" style="">

    <div class="categories-trigger">Categories<span> <i class="fa fa-arrow-down" aria-hidden="true"></i></span></div>
    <div class="col-sm-12 title-text" style="display:block;">Recommended For You </div>

    @for (int i = 0; i < 10; i++)
    {
        <div class="col-sm-5 col-md-3 white  top-sec margin-10">

            <img src="photos/camera1.jpg" />
            <div class="left-side">
                <div class="product-name">
                    <a href="#">Nikon D3300</a>
                </div>
                <div class="by">
                    <a href="#">By:Nikon</a>

                </div><br />
                <div class="price">
                    <span class="para">$</span><span class="price-tl">599.</span><span class="price-kr">99</span>
                </div>

                <div class="rate">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star-o" aria-hidden="true"></i></span>

                </div>
                <div class="rate-number">(2309)</div>
            </div>
        </div>
    }



</div>

<div class="row">
    <div class="col-sm-12 title-text white-color" style="display:block;">Browse History</div>


    @for (int i = 0; i < 10; i++)
    {
        <div class="col-sm-5 col-md-3 white  top-sec margin-10">

            <img src="photos/camera1.jpg" />
            <div class="left-side">
                <div class="product-name">
                    <a href="#">Nikon D3300</a>
                </div>
                <div class="by">
                    <a href="#">By:Nikon</a>

                </div><br />
                <div class="price">
                    <span class="para">$</span><span class="price-tl">599.</span><span class="price-kr">99</span>
                </div>

                <div class="rate">
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star" aria-hidden="true"></i></span>
                    <span><i class="fa fa-star-o" aria-hidden="true"></i></span>

                </div>
                <div class="rate-number">(2309)</div>
            </div>
        </div>
    }

</div>