﻿
*{
    margin: 0;
    padding: 0;
    font-family: "Tw Cen MT";
    text-align:center;
}

.container {
    margin:0;
    padding:0;
    width:100%;
}
body {
    background-color:rgb(241, 242, 205);
    overflow-x:hidden;
}
.white{
     background-color:rgb(255, 255, 255);
}
.white-color{
    color:white;
}
.padding-10{
    padding:10px;
}
.padding-20{
    padding:20px;
}
.padding-30{
    padding:30px;
}


.margin-10{
    margin:10px;
}
.margin-20{
    margin:20px;
}
.margin-30{
    margin:30px;
}

.top-sec{
    color:black !important;
    width:250px;
    height:130px;
    padding:10px;
    
}
.top-sec .product-name{
    font-size:17px ;
    text-align:left;
    line-height:1em;
}

.top-sec .by{
   float:left;
    
}
.left-side{
    width:45%;
   text-align:left;
    float:right;
    clear:both;
    display:inline-block;
}
.top-sec .left-side{
    text-align:left;
}

.rate-number{
    color:dimgrey;
}
.top-sec >img{
   max-width:48%;
   
   max-height:100px;
   margin-right:10px;
   
}
.price{
    text-align:left;
}

.rate{
    text-align:left;
}
.price-tl , .para{
    font-size:25px;
}

.rate-number{
    text-align:left;
}



.row{
    margin:0;
    transition: all ease-in-out 400ms;
    width:100%;
    padding-top:50px;
    padding-left:8%;
    padding-right:8%;
    
    text-align:center;
}

.row >div:nth-child(n+2){
    display:inline-block;
}
.row:nth-child(n+1){
   padding-bottom:40px;
}
.row:nth-child(2n+2){
    padding-top:30px;
    background-color:#1d646c;
}

/*.row:nth-child(1) > div{
    display: inline-block;
}*/
.title-text{
    text-align:left;
    font-size:26px;
}
/*#navbar{
    background-color:#247884;
    width:100%;
    height: 60px;
      display: flex;
      /*z-index:99999;
      box-shadow: 2px 0 10px 3px #808080;
    flex-wrap : nowrap;
}*/



.brand, .search-box, .sign-in-up{
    height : 100%;
    max-height:60px;
    flex-grow: 1;
     box-sizing:border-box;
}
.brand{
    font-size: 40px;
    font-family: "Tw Cen MT";
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top : 8px;
    order : 0;
    flex-grow: 1;
    padding-left:20px;
}

.search-box{
    padding-top:10px;
    order : 1;
    flex-grow: 4;
    min-width:500px;
}

.sign-in-up{
   
    font-family: "Tw Cen MT";
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    padding-top : 20px;
    order : 3;
    flex-grow: 1;
    display: none;
}

.search-input{
    width: 65%;
    background-color: #FFFFFF;
    height: 40px;
    border:none;
    /*border : solid 1px #f1f2cd;*/
    outline:none;
    margin-left: 5%;
 
    margin-right: 0;
    border-radius: 4px 0 0 4px;
    font-size:16px;
    padding-left:7px;
    clear:both;
}


.category{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance :none;
    -o-appearance :none;
    appearance: none;
    
    display :inline-block;
   
    
    width: 50px;
    height:40px;
    border:none;
    border-radius: 0px 4px 4px 0px;
    text-align:center;
    padding-left:15px;
    outline: none;
    background-color: #f1f2cd;
}

option {
    outline: none;
}


#cart{
     font-family: "Tw Cen MT";   
     font-size:20px;
     color:#FFFFFF;
     order : 2;
     margin-top:18px;
     flex-grow: 1.2;
     max-height:60px;
}
.sign_in___sign_up {
  font-size: 34px;
  font-family: "Tw Cen MT";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 1335.337px;
  top: 97.418px;
  width: 214px;
  height: 30px;
  z-index: 57;
  max-height:60px;
}


.categories{
    padding: 10px;
    background-color: #00283b;
    letter-spacing:2px;
    /*display:none;*/
    /*position:fixed;
    top:50px;*/
    margin-top:50px;
    height:40px;
    width:100%;
    transition:all ease-in-out 700ms;
}

.categories.down{
    margin-top:50px
}

.categories >ul {
    list-style: none;
    color: #FFFFFF;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-around;
    /*font-weight: bold;*/
    width:auto;
}


.categories >ul > li >a{
    /*padding : 0 3% 0 3%;*/ 
    display: inline-block;
    letter-spacing:1px;
    flex-grow:1;
    color:#fff !important;
    text-decoration:none !important;
    width:100%;
    height:100%;
}




.categories >ul > li:nth-child(n+8){
    display:none;
}

.categories-trigger{
    padding:5px;
    box-shadow:0px 7px 10px -10px rgba(0, 0, 0, 0.4);
    position:absolute;
    top:65px;
    left:8%;
    font-size:20px;
    transition:all  300ms;
    
     background-color:ActiveBorder;
     border-radius:4px;
     cursor:pointer;
     
}
.categories-trigger.mvd{
    left:220px;
}

.categories-trigger:hover{
    box-shadow:0px 18px 10px -12px rgba(0, 0, 0, 0.2);
    top:64px;
}

.categories-trigger span{
    font-size:18px;
}


.menu-bar{
    font-size:10px;
    color:#ffffff;
    position:absolute;
    right:15px;
    top:25px;
    width:50px;
    height:50px;
}


.search input{
    width:350px;
    height:40px;
    outline:none;
    border:none;
    padding-left:10px;
}

.search{
    margin-left:35px;
    margin-top:5px;
    font-size:16px;
}

.navbar-toggle.collapsed .point {
    color: #000000;
}

.container-fluid,navbar-default{
    border:none !important;
}


.navbar a{

  color:white !important;
}  
.navbar{
    margin:0;
}

.navbar-toggle >span>i{
    color:#ffffff !important;
    font-size:10px !important;

}

footer a{
    color:rgba(0, 0, 0, 0.8);   
}

footer div:nth-child(n+2){
    display:inline-block;
}


.brand-footer{
    color:#1D646C;
    font-size:35px;
}


.log-in-form{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

.log-in-form input{
    width: 100%;
    height:40px;
    margin-bottom: 18px;
    border-radius:4px;
    border: solid 2px rgba(29, 100, 108,0.6);
     box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    outline: none;
    -webkit-transition: box-shadow .25s ease-in-out;
       -moz-transition: box-shadow .25s ease-in-out;
        -ms-transition: box-shadow .25s ease-in-out;
         -o-transition: box-shadow .25s ease-in-out;
            transition: box-shadow .25s ease-in-out;
}
.log-in-form label{

}
.log-in-form .input:focus{
  box-shadow:0px 17px 15px -10px rgba(0, 0, 0, 0.4);
}


.log-in-form .sbmt-btn{
    margin-top: 15px;
    background-color: rgba(29, 100, 108,1);
    color:#FFFFFF;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}

.log-in-form .sbmt-btn:hover{
    box-shadow:0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    
}