﻿@media screen and (max-width: 960px) {


    .row{
        margin-top:50px;
    }
    .row.mvd{
    margin-left:150px;
}
    .categories {
        height: auto;
        width: 200px;
        float: left;
        /*margin-top:-20px !important;*/
        top: 0px;
        box-shadow: 2px 1px 10px #808080;
        position:fixed;
        z-index:7;
        margin-top:-1000px;
        padding:0;
    }


        .categories > ul {
            flex-wrap: wrap;
        }

            .categories > ul > li {
                display: block;
                width: 100%;
               
            }
            .categories > ul > li>a{
                padding:9.8px;
            }
            
.categories >ul > li > a:hover{
    background-color:#1d646c; 
}

                .categories > ul > li:nth-child(n+8) {
                    display: block;
                }

    .categories-trigger{
        display:block;
    }

    .tite-text{
        margin-top:20px;
    }


    .log-in-form{
        width:70%;
     }
}


@media screen and (min-width: 960px) {
     .categories-trigger{
        display:none;
    }

     row:nth-child(1){
         margin-top:0px ;
     }

     .categories{
         margin-top:50px;
     }





}




